
input[type=text]
{
  width: 35%;
  height: 50%;
  float: left;
  margin-left: 20px;
  margin-top : 10px;
  border-radius: 10px;
}

input[type=date]
{
  width: 35%;
  height: 50%;
  float: right;
  margin-right: 20px;
  margin-top : 10px;
  border-radius: 10px;
}
